.row
  .col-xs-12.full-height.bottom-shadow
    = check_box_tag "#{recommendation.id}"
    = label_tag "#{recommendation.id}", style: "background: #{asset_path(recommendation.photo_file_name)}" do
      .location= recommendation.location
      .title
        %i{class: "icon-facebook", style: 'float:left;margin:10px;'}
        %i{class: "icon-twitter", style: 'float:left;margin:10px;'}
        %i{class: "icon-tumblr", style: 'float:left;margin:10px;'}
        = truncate(recommendation.title, length: 25)
