.screen
  .row.screen-centered
    .col-xs-12.text-center.bottom-spaced
      .col-xs-12.logo
        %span.glyphicon.glyphicon-plane
        %span.glyphicon.glyphicon-globe
        %span.glyphicon.glyphicon-cutlery
        %span.glyphicon.glyphicon-gift
        %span.glyphicon.glyphicon-heart-empty
        %br/
        %h1 TCKTS
      .centered.col-xs-6
        %button.btn.btn-block.btn-lg.white-bg{data: {toggle: 'modal', target: '#user-login'}} Login
      %br
      .centered.col-xs-6
        %button.btn.btn-block.btn-lg.white-bg{data: {toggle: 'modal', target: '#user-register'}} Register
.row.screen-centered
  .col-xs-12
    .modal.fade#user-login{role: 'dialog', tabindex: '-1'}
      .modal-dialog
        .modal-content
          .modal-header
            Login
            %button{class: 'close', data: {dismiss: 'modal'}} &times
          .modal-body
            = form_tag sessions_path do
              .form-group.text-left
                = label_tag 'Username:'
                = text_field_tag 'username', '', class: 'form-control'
              .form-group.text-left
                = label_tag 'Password:'
                = password_field_tag 'password', '', class: 'form-control'
              %button{type: 'submit', class: 'btn btn-lg btn-block btn-primary'} Login
.row.screen-centered
  .col-xs-12
    .modal.fade#user-register{role: 'dialog', tabindex: '-1'}
      .modal-dialog
        .modal-content
          .modal-header
            Register
            %button{class: 'close', data: {dismiss: 'modal'}} &times
          .modal-body
            = form_for @user do
              .form-group.text-left
                =label_tag 'Username:'
                = text_field_tag 'user[username]', '', class: 'form-control'
              .form-group.text-left
                = label_tag 'Password:'
                = password_field_tag 'user[password]', '', class: 'form-control'
              .form-group.text-left
                = label_tag 'Email:'
                = email_field_tag 'user[email]', '', class: 'form-control'
              %button{type: 'submit', class: 'btn btn-lg btn-block btn-primary'} Register
